.color-swatch{
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.individual-swatch{
  width: 100px;
  height: 100px;
  margin: 14px;
  border: black solid;
  border-radius: 10px;
}
.kritter-card{
    width: 300px;
    height: 400px;
    padding-left: 30px;
    text-align: center;
    background:;
    border: solid orangered 2px;
    border-radius: 10px;
}
  .cls-1 {
    fill: #d9efee;
  }

  .cls-1,
  .cls-10,
  .cls-11,
  .cls-2,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9 {
    stroke: #231f20;
    stroke-miterlimit: 10;
  }

  .cls-1,
  .cls-11,
  .cls-6,
  .cls-7,
  .cls-8 {
    stroke-width: 3px;
  }

  .cls-2 {
    fill: #009444;
  }

  .cls-2,
  .cls-3,
  .cls-4 {
    stroke-width: 3px;
  }

  .cls-3 {
    fill: #00a14b;
  }

  .cls-4 {
    fill: #9acd6f;
  }

  .cls-5 {
    fill: #fff;
  }

  .cls-10,
  .cls-5,
  .cls-9 {
    stroke-width: 3px;
  }

  .cls-6 {
    fill: #fffde9;
  }

  .cls-7 {
    fill: #4bc5d9;
  }

  .cls-10,
  .cls-8 {
    fill: #415777;
  }

  .cls-9 {
    fill: #799ed2;
  }

  .cls-11 {
    fill: #00948f;
  }
</style>
</defs>