
.color-swatch{
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.individual-swatch{
  width: 100px;
  height: 100px;
  margin: 14px;
  border: black solid;
  border-radius: 10px;
}
.kritter-card{
    width: 300px;
    height: 400px;
    padding-left: 30px;
    text-align: center;
    border: solid orangered 2px;
    border-radius: 10px;
}